<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment</title>
    <script src="https://unpkg.com/vue@next"></script>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="scss/all.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
  </head>
  <!-- 
        todolist CRUD
        過濾類別 select支付方式
        計算機
        for (item, key) in array
        computed
        千分位
        >0
        規則式
        Npm:vue+bs+axios
        component
        compute total
        spa
    -->
  <!-- Q 購物車商品的數量即使不按確認按鈕也會儲存?v-model? 商品數量先暫存在coount，再存在selectedItem -->
  <!-- Q modal的資料如何引入?將選擇的商品另存在selectedItem  -->
  <!-- 
        1.商品頁面:搜尋 filter[name price]
        2.支付金額+支付方式:CRUD total 
        3.使用者資訊:買家+商品
        4.完成-->
  <body>
    <div id="shop" class="shop container-fluid">
      <!-- step01 -->
      <!-- <div id="search" class="row">
        <form class="d-flex offset-8 col-4" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            v-model="text"
          />
          <button type="submit" class="btnStyle" @click="">搜尋</button>
        </form>
      </div> -->

      <div id="beverage" class="beverage row row-cols-2 row-cols-lg-3">
        <div class="col" v-for="item in beverage">
          <div class="card h-100">
            <a href="#item" data-bs-toggle="modal" @click="findItem(item)">
              <div class="card-pic">
                <img :src="item.image" :alt="item.name" />
                <div class="text">
                  <h3>{{item.name}}</h3>
                  <p>新品上市</p>
                  <button
                    type="submit"
                    class="btnStyle01"
                    @click="findItem(item)"
                  >
                    購買
                  </button>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- modal-->
      <div
        class="modal fade"
        id="item"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">
                {{selectedItem.name}}
              </h3>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <img :src="selectedItem.image" alt="selectedItem.name" />
              <p>${{selectedItem.price}}</p>
            </div>
            <div class="modal-footer">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btnStyle03" @click="count--">
                  -
                </button>
                <input type="tel" v-model="count" />
                <button type="button" class="btnStyle03" @click="count++">
                  +
                </button>
              </div>
              <button
                type="button"
                class="btnStyle01"
                @click="addItem(selectedItem)"
              >
                加入購物車
              </button>
            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btnStyle02" @click="filterItem">前往結帳</button>

      <!-- step02 -->
      <div id="step02" class="container-fluid">
        <ol>
          <li v-for="item in beverage">
            <!-- <b v-if="item.price!==0">{{item.name}}-${{item.price}}</b> -->
          </li>
        </ol>
        <select class="form-control" v-model="payment">
          <option disabled selected value="">請選擇支付方式</option>
          <option :value="item" v-for="item in paymentMethods">{{item}}</option>
        </select>
      </div>

      <!-- step03 -->
      <div id="step03" class="container-fluid">
        <h1>確認付款資訊</h1>
        <h2>買家資訊</h2>
        <ol>
          <li>名稱:{{person.name}}</li>
          <li>手機:{{person.cell}}</li>
          <li>信箱:{{person.email}}</li>
        </ol>
        <h2>商品資訊</h2>
        <ul>
          <li>付款方式:{{payment}}</li>
          <li>商品總金額:${{total}}</li>
        </ul>

        <button type="button" class="btnStyle02" @click="">確認付款</button>
      </div>
      <!-- step04 -->
      <div id="step04">
        <h1>您的訂單已成立，感謝您的購買!</h1>
      </div>
    </div>

    <script>
      Vue.createApp({
        data() {
          return {
            beverage: [],
            itemName: [
              "藍莓薄荷檸檬水",
              "草莓奶昔",
              "玫瑰冰茶",
              "星冰樂",
              "檸檬氣泡飲",
              "長島冰茶",
            ],
            selectedItem: {},
            count: 0,
            person: {},
            total: 0,
            text: "",
            paymentMethods: ["貨到付款", "刷卡付費"],
            payment: "",
          };
        },
        methods: {
          addName() {
            this.beverage.forEach((item, index) => {
              item.name = this.itemName[index];
            });
          },
          findItem(item) {
            this.selectedItem = item;
          },
          addItem(item) {
            item.count = this.count;
            this.count = 0;
          },
          filterItem(){

          },
          // searchItem() {
          //   let searchArray = this.itemName.filter((item) => {
          //     if (this.text === item) return true;
          //   });
          //   // 搜尋失敗
          //   if (!searchArray) {
          //     return this.beverage;
          //   }
          //   return searchArray;
          // },
        },
        mounted() {
          for (let i = 0; i < 6; i++) {
            this.beverage.push({
              name: "",
              id: i,
              image: `pic/item0${i + 1}.jpg`,
              count: 0,
              price: 30,
            });
          }
          this.addName();
          axios.get("https://randomuser.me/api/").then((res) => {
            console.log(res);
            this.person = res.data.results[0];
            console.log(this.person);
          });
        },
      }).mount("#shop");
    </script>
  </body>
</html>
